body {
    font-family: "Hahmlet", serif;
    background-color: rgba(246, 197, 152, 0.974);
}

header {   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 30vh; 
}

ul {
  list-style: none; 
}

#movieSection {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr)); 
    justify-content: center;
    grid-row-gap: 20px;
    grid-column-gap: 30px;
  }
  
  .movieCard {
    background-color: white;
    width: 360px;
    height: 830px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
  }
  

  
  
